.journal-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.journal-form-text {
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.03);
  border-color: rgba(255, 255, 255, 0.4);
  color: white;
}

.journal-form-date {
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.03);
  border-color: rgba(255, 255, 255, 0.4);
  color: white;
}
.journal-form-date::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.journal-form-text {
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.03);
  border-color: rgba(255, 255, 255, 0.4);
  color: white;
}

.journal-form-textarea {
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.03);
  border-color: rgba(255, 255, 255, 0.4);
  color: white;
}

.journal-form-title {
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.03);
  border-color: rgba(255, 255, 255, 0.4);
  color: white;
}
